@model IEnumerable<Helper.DepartmentTotals>

@{
    ViewBag.Title = "EmpByDepartment";
}

<h2>EmpByDepartment</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        
        </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        
    </tr>
}

</table>
